.custom-background {
  background-color: #e4e5e6;
}
.container {
  .section-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  .main-section-bg {
    background-color: #d6e3eb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .main-section-info {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
  }
  .wizard-btn {
    background-color: #367297;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .sub-section {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
  }
  .sub-section-bg {
    background-color: #d6e3eb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 20.8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    padding: 8px 16px;
  }
  .sticky-bars {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
  }
  .row {
    .col-md-4 {
      .home-logo {
        color: #212529;
        font-size: 40px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
      }
      .dropdown-toggle::after {
        margin-left: 4.255em;
      }
    }
    .col-md-8 {
      .header-image {
        width: 100%;
        height: 100%;
      }
      .row {
        .btn-data {
          background-color: #367297;
          display: flex;
          align-items: center;
          gap: 7px;
          flex-wrap: wrap;
          .rounded-icon {
            padding: 3px;
            background-color: #367297 !important;
            color: whitesmoke;
            border: 1px solid whitesmoke;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .custom-icon {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .row {
    .main-section {
      .form-sections {
        color: #212529;
        font-size: 13px;
        margin-bottom: 0;
      }
      .section-bars {
        min-height: 90%;
        background-color: #ca7d7d;
        cursor: pointer;
      }
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  .row {
    .section-wizard-btn {
      justify-content: space-between;
    }
  }
}
